#time_box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(210.7, 42.9%, 38.4%);
    margin-top: -45px;
    width: 25%;
    height: auto;
    border-radius: 0px 0px 10px 10px;
  }
  
  #time {
    display: block;
    text-align: center;
    color: hsl(0, 0%, 94.9%);
    font-family: 'Digital-7';
    font-size: 1.86rem;
  }