#time_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(300, 11%, 11%);
  width: 30%;
  height: 45px;
  z-index: -1;
}

#time {
  display: block;
  text-align: center;
  color: hsl(178, 100%, 53%);
  font-family: Astropolis;
  font-size: 1.86rem;
}
