@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@font-face {
  font-family: 'Digital-7';
  src: url('/resources/fonts/digital-7.ttf');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  background-color: hsl(206.1, 100%, 60.4%);
}

#name {
  font-family: 'Nabla', cursive;
}

.topnav {
  overflow: hidden;
  background-color: hsl(210.7, 42.9%, 38.4%);
  font-family: 'Kanit', cursive;
}

.topnav a {
  float: left;
  color: hsl(0, 0%, 94.9%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: hsl(356, 100%, 67.5%);
  color: black;
  border-radius: 7px;
}

.topnav-right {
  float: right;
}
/*^ Top of page ^*/

#time_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: hsl(210.7, 42.9%, 38.4%);
}

#time {
  display: block;
  text-align: center;
  color: hsl(0, 0%, 94.9%);
  font-family: 'Digital-7';
}

/* v Bottom of Page v*/
#footer {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 75%;
  color: hsl(0, 0%, 0%);
  font-size: 1em;
  font-family: 'Digital-7', cursive;
  border: 3px solid hsl(210.7, 42.9%, 38.4%);
  border-radius: 7px;
  background-color: hsl(0, 0%, 0%);
  color:aliceblue;
}